
/*
  # Layout

  Body that will span
*/

$brand-red: #121211;
$spacing: 10px 10px;

/*
  ## Subsection

  This is just a subsection
*/
strong { color: green; }

li { color: blue; }
/* 

Paragraph

Contain multiple paragraphs.

And more description here.

This is some markup too <b>bold</b> this is important.

Markup:
<div>
  <h1>Markup</h1>
</div>

Modifiers:
.bob  - random
$spacing - billyboy

Example:
<div class="{{value}}">
  <strong>This is an example!</strong>
  <em> This is emphasized</em>
</div>

Example:
<div class="{{value}}">
  <strong>This is another example!</strong>
  <em> This is emphasized</em>
</div>

Wrapper:
<div class="wrapper">
  {{ content }}
</div>

*/

/*
List

A list of items.

Example:
<ul>
  <li>One</li>
  <li>Two</li>
</ul>

*/

@import "subfolder/random";